<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here is the Register Page</h1>
    
    {% for message in messages %}
        <h3 style="color: red;">{{message}}</h3>
    {% endfor %}
    
    <form action="" method="POST">
        {% csrf_token %}
        UserName: <input type="text" name="uname" id="" >
        <br>
        Email: <input type="email" name="em" id="" >
        <br>
        Password: <input type="password" name="pass1" id="">
        <br>
        Repeat-Password: <input type="password" name="pass2" id="">
        <br>
        <input type="submit" value="SignUp">
    </form>
</body>
</html>